<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <!-- console 로그 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p- %l%n \t %m%n"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="phdljr.controller" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <root level="debug" additivity="true">
            <AppenderRef ref="console" />
        </root>
    </loggers>
</configuration>